@import '../fonts/Montserrat/stylesheet.css';
@import '../fonts/TTHazelnuts/stylesheet.css';
@import "./variables.scss";

@mixin max($media) {
  @media only screen and (max-width: $media) {
    -webkit-min-device-pixel-ratio: 2;
    @content;
  }
}

@mixin min($media) {
  @media only screen and (min-width: $media) {
    -webkit-min-device-pixel-ratio: 2;
    @content;
  }
}

@mixin minmax($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max) {
    -webkit-min-device-pixel-ratio: 2;
    @content;
  }
}


.mobile {
  display: none;
  @include max($medium - 1) {
    display: block;
  }
}

.tablet {
  display: none;
  @include minmax($medium, $large) {
    display: block;
  }
}

.desctop {
  display: none;
  @include min($large) {
    display: block;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-style: normal;

  // ::-webkit-scrollbar {
  //   display: none;
  // }
}

body {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "TT Hazelnuts";
}

p {
  font-family: "Montserrat";
}

.page-title {
  color: $main-color;
  font-family: "TT Hazelnuts";
  font-size: 3.8em;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include max($large) {
    font-size: 2.8em;
  }

  @include max($small) {
    font-size: 2.2em;
  }
}

.page-text {
  color: $main-color;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.4em;

  @include max($large) {
    font-size: 1.6em;
  }

  @include max($small) {
    font-size: 1.4em;
    line-height: 1.5em;
  }
}

.second-page-title {
  color: $main-color;
  font-family: "TT Hazelnuts";
  font-size: 2.2em;
  font-weight: 900;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  @include max($large) {
    font-size: 2em;
  }

  @include max($small) {
    font-size: 1.8em;
  }
}


.card-title {
  color: $main-color;
  font-family: TT Hazelnuts;
  font-style: normal;
  font-weight: 900;
  font-size: 2em;
  line-height: 1.4em;
  text-transform: uppercase;

  @include max($large) {
    font-size: 2em;
  }

  @include max($small) {
    font-size: 1.6em;
  }
}

.card-text {
  color: $main-color;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 2.6em;
  text-transform: lowercase;

  @include max($large) {
    font-size: 1.4em;
  }

  @include max($small) {
    font-size: 1.4em;
  }
}


@keyframes bubble1 {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-5%);
  }
}

@keyframes anim2 {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-3%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0%);
  }

  100% {
    transform: rotate(360deg);
  }
}